.home-container{
    display: flex;
    justify-content: flex-start;
}

.home-nav-section{
    box-sizing: border-box;
    min-width: 250px;
    height: calc(100vh - 40px);
    max-height: calc(100vh - 50px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px 0px;
    overflow: scroll;

    p{
        cursor: pointer;
        border-bottom: 1px solid #dcdcdc;
    }
}

.home-content-section{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-height: calc(100vh - 50px);
    overflow: scroll;
}