.royal-blue-bg{
    background-color: royalblue;
    color: #fff;
}

.palevioletred-bg{
    background-color: palevioletred;
    color: #111;
}

.bg{
    background-color: mediumaquamarine;
    color: #fff;
}

.shadhow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}